<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://unpkg.com/htmx.org@1.8.5"  crossorigin="anonymous"></script>
    <title>Active Search</title>
</head>

<body>

    <h1>Active search</h1>

    <h3>
        Search Contacts
        <span class="htmx-indicator">
            <img src="{{ url_for('static', filename='img/bars.svg') }}" /> Searching...
        </span>
    </h3>

    <input class="form-control" type="text" name="search" placeholder="Begin Typing To Search Users..."
        hx-post="/search/" hx-trigger="keyup changed delay:500ms" hx-target="#search-results"
        hx-indicator=".htmx-indicator">

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody id="search-results">
            <!-- filled with search results when ready -->
        </tbody>

    </table>

</body>

</html>