<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Active Search</title>
</head>
<body>

    <h1>Active search</h1>

    <table class="table">
        <thead>
          <tr>
            <th>ID</th><th>First Name</th><th>Last Name</th><th>Email</th>
          </tr>
        </thead>
    
        <tbody id="search-results">
            {% if users %}
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.fname }}</td>
                    <td>{{ user.lname }}</td>
                    <td>{{ user.email }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    
    </table>
    
</body>
</html>