<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".{{ url_for('static', filename='css/style.css') }}">
    <title>Infinite Scroll</title>
</head>
<body>

    <nav>
        <div class="container">
            <h2 class="logo">lyle-social</h2>
            <div class="search-bar">
                <i class="uil uil-search"></i>
                <input type="search" name="" id="" placeholder="Search for creators, inspirations and projects.">
            </div>
            <div class="create">
                <label class="btn btn-primary" for="create post">Create Post</label>
                <div class="profile-photo">
                    <img src="{{ url_for('static', filename='img/profile-0.jpg') }}" alt="">
                </div>
            </div>
        </div>
        </div>
    </nav>

    <main>
        <div class="container">
            <div class="left">
                Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Blanditiis repellendus 
                omnis quo inventore odit explicabo est 
                atione, quas magni consequuntur accusamus 
                obcaecati! Eveniet laboriosam laudantium 
                sapiente maiores ad cumque eligendi!
            </div>

            <div class="middle">

                <form action="" class="create-post">
                
                    <div class="profile-photo">
                        <img src="{{ url_for('static', filename='img/profile-0.jpg') }}" alt="">
                    </div>
    
                    <div class="create">
                        <input type="text" name="" id="create-post" placeholder="What's on your mind, Lyle?">
                    </div>
                    
                    <input type="submit" value="Post" class="btn btn-primary">
                </form>

                <div class="feeds">

                    {% if messages %}

                        {% for message in messages %}

                            <div class="feed">
                                <p>
                                    {{ message }}
                                </p>
                            </div>    

                        {% endfor %}}
                        
                    {% endif %}}

                </div>

            </div>

            <div class="right">
                Lorem ipsum, dolor sit amet consectetur 
                adipisicing elit. Explicabo ullam 
                assumenda sint commodi tempore 
                consectetur pariatur quasi dolorem enim 
                illum amet sed sunt quo molestias, 
                laboriosam repudiandae laborum dolore 
                magnam.
            </div>
        </div>
    </main>

    <footer>
        <div class="container">

        </div>
    </footer>

</body>
</html>